*{
    margin: 0;
    padding: 0;
}

body {
 background-color:#102169;
 text-align:center;
}

main  h1
{
  color:#ffb214 ;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: auto auto auto;
   
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: aliceblue;
    color: black;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    color: #FFB214;
    font-weight: bold ;
    background-color:#102169;
    border-radius: 1rem;
    cursor: pointer;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-color: #FFB214;
    color: #FFB214;
    font-weight: bold ;
    background-color:#102169;
    border-radius: 1rem;
    cursor: pointer;
}

#msg{
    color: #ffffc7;
    font-size:9vmin;
}

.msg-container{
    height:25vmin ;
}

.hide{
    display: none;
}